@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

:root {
  --main-font-color: #050549;
  --header-background-color: #fff6e8;
  --main-background-color: #fff6e8;
  --footer-background-color: #fff6e8;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 980px;
  font-size: 16px;
  font-family: Open Sans, Verdana, sans-serif;
  color: var(--main-font-color);
  margin: 0 auto;
}

.header {
  border: 0.5px solid var(--main-font-color);
  background-color: var(--header-background-color);
  color: var(--main-font-color);
  border-radius: 8px 8px 0 0;
}

.photo {
  border-radius: 8px;
}

.wrapper {
  display: flex;
  gap: 5%;
}

.main {
  background-color: var(--main-background-color);
  border: 0.5px solid var(--main-font-color);
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

.footer {
  padding: 10px;
  color: #000000;
  background-color: var(--footer-background-color);
  border: 0.5px solid var(--main-font-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

@media (max-width: 767px) {
  .footer img {
    height: 30px;
  }
  .footer p {
    font-size: 10px;
  }
}

.subtitle {
  font-style: italic;
  font-weight: 600;
}

.container {
  max-width: 1440px;
  margin: 20px;
}

.nav {
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  border-top: 1px solid var(--main-font-color);
  border-bottom: 1px solid var(--main-font-color);
}

.nav-item:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.nav-item {
  margin: 5px 0;
  transition: 0.3s;
}

.nav-item a {
  text-decoration: none;
  color: var(--main-font-color);
}

.link {
  text-decoration: underline;
  color: var(--main-font-color);
  font-weight: 600;
}

.github {
  transition: transform 0.2s;
}

.github:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}
