:root {
	--main-font-color: #050549;
	--main-background-color: #dbd8d8;
	--body-background-color: #ababab;
}

* {
    box-sizing: border-box;
  }

.header-container {
	min-height: 100vh;
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
	margin: 20px 20%;
	padding: 20px;
	border: 0.5px solid var(--main-font-color);
	background-color: var(--main-background-color);
	line-height: 1.1;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	color: var(--main-font-color);
	text-align: left;
}

.body-container {
	margin: 10px;
	padding: 10px;
	background-color: var(--body-background-color);
}

.footer-container {
	margin: -21px;
	padding: 20px;
	background-color: #979797;
	border: 0.5px solid var(--main-font-color);
}

.subtitle {
	font-style: italic;
}

